<footer class="footer">
  <hr>
  <section class="container">
      {{ with .Site.Params.social }}
      <div class="container" align="center">
      <div class="row justify-content-center "> 
        {{ range sort .}}
          {{ if .icon }}
            <div class="col-1">
              <a href="{{ .url }}" aria-label="{{ .name }}">
                <i class="{{ .icon }}" aria-hidden="true"></i>
              </a>
            </div>
          {{ else }}
          <div class="col-1">
              <a href="{{ .url }}" aria-label="{{ .name }}">{{ .name }}</a>
          </div>
          {{ end }}
        {{ end }}
      </ul>
      {{ end }}
    </div>
  </div>
    
  </section>
</footer>
